
.main-wrapper
	background-color: black
	width: 100%
	height: 100vh

	display: flex
	align-items: center
	justify-content: center

	.inner-wrapper
		display: flex
		flex-direction: column
		width: 80%
		height: 75%
		background:
			image: url(../images/earthnight.png)
			size: cover
			repeat: no-repeat
		@media (max-width: 640px)
			width: 100%
			height: 100%


		.row1, .row2, .row3
			width: 100%
			height: 33.33%
			display: flex


		.row1
			.row-1-box-1-invi
				height: 100%
				width: 20%
				@media (max-width: 900px)
					width: 15%
				@media (max-width: 540px)
					display: none
			.row-1-box-1
				background-color: #0fffd4
				height: 100%
				width: 20%
				@media (max-width: 900px)
					width: 25%
				@media (max-width: 540px)
					width: 40%
			.row-1-box-2
				display: flex
				flex-direction: column
				align-items: center
				width: 60%
				height: 100%
				h1
					padding: 0
					margin: 0
					bottom: 0
					top: 0

				h1.location
					color: white
					text-align: center
					font-family: "Fira Sans"
					font-size: 1.5em
					font-weight: normal
					margin-top: 10px
					@media only screen and (max-width: 640px) and (orientation: portrait)
						margin-top: 50px

				.weather-detail
					display: flex
					flex-direction: row
					justify-content: space-in-between
					align-items: center

					.condition
						width: 40px
						height: 40px
						background:
							image: url(../images/cloudy.png)
							repeat: no-repeat
							size: contain

					h1.temp-large
						color: white
						text-align: center
						font-family: "Fira Sans"
						font-size: 2.5em
						font-weight: normal
						padding-left: 30px
						@media (max-width: 640px)
							padding-left: 10px

					ul
						list-style: none
						padding-left: 0
						margin-bottom: 0
						li
							display: inline
							color: white

						@media (max-width: 640px)
							li
								font-size: 0.75em

		.row2
			.row-2-box-1
				height: 100%
				width: 40%
				@media (max-width: 440px)
					display: none

			.row-2-box-2
				width: 40%
				height: 100%
				background-color: #ff138b
				@media (max-width: 900px)
					width: 60%
				@media (max-width: 440px)
					width: 100%
			.row-2-box-3
				width: 20%
				height: 100%
				@media (max-width: 900px)
					display: none

		.row3
			.row-3-box-1-invi-1
				width: 60%
				height: 100%
				@media (max-width: 900px)
					width: 40%
				@media (max-width: 440px)
					display: none
			.row-3-box-1
				display: none
				height: 100%
				width: 40%
				@media (max-width: 440px)
					display: flex
					flex-direction: column
					width: 100%
			.row-3-box-2
				width: 20%
				height: 100%
				@media (max-width: 900px)
					width: 30%
				@media (max-width: 440px)
					display: none

			.row-3-box-1-invi-2
				width: 20%
				height: 100%
				@media (max-width: 440px)
					display: none

			.row-3-box-3
				display: none
				width: 20%
				height: 100%

				@media (max-width: 900px)
					display: flex
					flex-direction: column
					width: 30%
				@media (max-width: 440px)
					display: none

.row-1-box-1, .row-2-box-2
	opacity: 0.8

.row-2-box-1, .row-2-box-3, .row-3-box-1, .row-3-box-2, .row-3-box-3
	display: flex
	flex-direction: column

.row-2-box-1
	.image
		height: 100%
		width: 100%
		background:
			image: url('https://source.unsplash.com/collection/366934/400x300')
			size: cover
			repeat: no-repeat
.row-2-box-3
	.image
		height: 100%
		width: 100%
		background:
			image: url('https://source.unsplash.com/collection/368888/400x300')
			size: cover
			repeat: no-repeat
.row-3-box-1
	.image
		height: 100%
		width: 100%
		background:
			image: url('https://source.unsplash.com/collection/366934/400x300')
			size: cover
			repeat: no-repeat
.row-3-box-2
	.image
		height: 100%
		width: 100%
		background:
			image: url('https://source.unsplash.com/collection/368890/400x300')
			size: cover
			repeat: no-repeat
.row-3-box-3
	.image
		height: 100%
		width: 100%
		background:
			image: url('https://source.unsplash.com/collection/368888/400x300')
			size: cover
			repeat: no-repeat

.prog-bar
	height: 1px
	width: 100%
	background: white


.progress-bar
	-webkit-animation-name: growProgressBar
	-webkit-animation-duration: 7s
	-webkit-animation-fill-mode: forwards
	-webkit-animation-play-state: running
	-webkit-animation-iteration-count: infinite


@-webkit-keyframes growProgressBar
  0%
    width: 0%
    background-color: white


  100%
    width: 100%
    background-color: white
