.inner-wrapper
	.row1
		.row-1-box-1-invi
		.row-1-box-1
		.row-1-box-2
			h1.location
			.weather-detail
				.condition
				h1.temp-large
				ul.toggle
					li.toggle-c C
					li /
					li.toggle-f  F


	.row2
		.row-2-box-1
			.prog-bar
			image.image(src=('https://source.unsplash.com/collection/366934/400x300'))

		.row-2-box-2
		.row-2-box-3
			.prog-bar
			image.image(src=('https://source.unsplash.com/collection/368888/400x300'))


	.row3
		.row-3-box-1
			.prog-bar
			image.image(src=('https://source.unsplash.com/collection/366934/400x300'))
		.row-3-box-1-invi-1
		.row-3-box-2
			.prog-bar
			image.image(src=('https://source.unsplash.com/collection/368890/400x300'))
		.row-3-box-3
			.prog-bar
			image.image(src=('https://source.unsplash.com/collection/368888/400x300'))
