.inner-wrapper
	.row1
		.row-1-box-1-invi
		.row-1-box-1
		.row-1-box-2
			h1.location Hyderabad, In
			.weather-detail
				.condition
				h1.temp-large 22˚
				ul.toggle
					li.toggle-c C 
					li /
					li.toggle-f  F
		
	
	.row2
		.row-2-box-1
			.prog-bar
		.row-2-box-2
		.row-2-box-3
			.prog-bar

	.row3
		.row-2-box-1
			.prog-bar
		.row-3-box-1-invi-1
		.row-3-box-2
			.prog-bar
		.row-3-box-3
			.prog-bar
		
