.inner-wrapper
	.row1
		.row-1-box-1-invi
		.row-1-box-1
		.row-1-box-2
			h1 Hyderabad, In
		.row-1-box-2-invi
	
	.row2
		.row-2-box-1
			.prog-bar
		.row-2-box-2
		.row-2-box-3
			.prog-bar

	.row3
		.row-2-box-1
			.prog-bar
		.row-3-box-1-invi-1
		.row-3-box-2
			.prog-bar
		.row-3-box-3
			.prog-bar
		
